* {
    background-clip: border-box;
}
@font-face {
    font-family: 'SF Compact Display';
    src: url('./assets/fonts/SFCompactDisplay-Regular.woff2') format('woff2'),
        url('./assets/fonts/SFCompactDisplay-Regular.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Azuria';
    src: url('./assets/fonts/AzuriaRegular.woff2') format('woff2'),
        url('./assets/fonts/AzuriaRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

#backvideo{
    object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.logoimg {
    width: 100%
}
.logo {
    margin-left: 5vw;
    padding: 30px 0;
}
#socialIcons {
    display: flex;
}

.socialback:hover {
    position: relative;
    bottom: 10px;
}
.soic {
    padding: 42px 0;
    margin: 0 auto;
}

#yellow {
    color: #f1a903;
}
.heading {
    text-align: center;
    z-index: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.heading h1 {
    font-weight: 800;
    font-size: 3.3vw;
}
.subheading {
    text-align: center;
    z-index: 0;
    color: white;
    width: 27vw;
    margin: 0 auto;
    font-size: 1vw;
    font-family: 'SF Compact Display';
}
#signup {
    margin: 0 auto;
    width: 10vw;
}
#signtop {
    font-family: 'SF Compact Display';
    color: white;
    margin-left: 12px;
}
#signbottom {
    font-family: 'Azuria';
    color: #f33946;
    margin-left: 12px;
}
#signline {
    position: absolute;
    width: 0.17rem;
}
.Email {
    width: 15vw;
    margin: 0 auto;
    margin-top: 2vw;
}
#emailbtn {
    position: relative;
    float: right;
    margin-right: 1%;
    top: 0.65rem;
    right: 0.4rem;
    border: solid black 0px;
    border-radius: 2rem;
    background: black;
    color: white;
    padding: 0.9rem;
    font-family: 'SF Compact Display';
}
@media screen and (max-width: 1920px) {
    #emailbtn {
        position: relative;
        float: right;
        margin-right: 1%;
        top: 0.35rem;
        right: 0.3rem;
        border: solid black 0px;
        border-radius: 2rem;
        background: black;
        color: white;
        padding: 0.9rem;
        font-family: 'SF Compact Display';
    }
    #emailinput {
        border: solid black 0px;
        border-radius: 2vw;
        position: absolute;
        width: 22vw !important;
        padding: 1vw;
        font-family: 'SF Compact Display';
    }
    .Email {
        width: 22vw;
        margin: 0 auto;
        margin-top: 2vw;
    }
}
@media screen and (max-width: 1440px) {
    #emailbtn {
        position: relative;
    float: right;
    margin-right: 1%;
    top: 0.25rem;
    right: 0rem;
    left: 0.5rem;
    border: solid black 0px;
    border-radius: 2rem;
    background: black;
    color: white;
    padding: 0.7rem;
    font-family: 'SF Compact Display';
    margin-left: 11px !important;
    }
    #emailinput {
        border: solid black 0px;
    border-radius: 2vw;
    position: absolute;
    width: 22vw !important;
    padding: 1vw;
    font-family: 'SF Compact Display';
    margin-left: 11px !important;
    }
    .Email {
        width: 22vw;
        margin: 0 auto;
        margin-top: 2vw;
    }
}
#emailinput {
    border: solid black 0px;
    border-radius: 2vw;
    position: absolute;
    width: 15vw;
    padding: 1vw;
    font-family: 'SF Compact Display';
}